<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>User</title>
  <link rel="stylesheet" th:href="@{/resources/static/css/style.css}">
</head>
<body>
<ul>
  <li><a th:href="@{/user/userHome}">Home</a></li>
  <li><a th:href="@{/common/managePersons}">Manage Persons</a></li>
  <li>
    <form th:action="@{/logout}" method="post">
      <button type="submit" class="btn btn-link">logout</button>
    </form>
  </li>
</ul>

<div>
  <h3>User home page</h3>
  <p>Hello and welcome to your application</p>

  <div sec:authorize="isAuthenticated()">
    You are connected with: <span sec:authentication="principal.username"></span><br>
    Your Email : <span sec:authentication="principal.email"></span><br>
    Your First Name : <span sec:authentication="principal.firstName"></span><br>
    Your Last Name : <span sec:authentication="principal.lastName"></span><br>
  </div>
</div>
</body>
</html>
