<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div>
    <h3>Registration Form</h3>
</div>
<div>
    <form th:action="@{/addPerson}" th:object="${personModel}" method="post">
        <p style="color: green" th:text="${msg}"></p>

        <label>First Name</label><br>
        <input type="text" th:field="*{firstName}" placeholder="First Name" /><br>

        <label>Last Name</label><br>
        <input type="text" th:field="*{lastName}" placeholder="Last Name" /><br>

        <label>Email</label><br>
        <input type="text" th:field="*{email}" placeholder="Email" /><br>

        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>
